streamlit==1.31.0
aiogram==3.4.1
easyocr==1.7.0
opencv-python-headless==4.8.1.78
numpy==1.24.3
Pillow==10.2.0
img2pdf==0.5.1
python-docx==1.1.0
PyPDF2==3.0.1
pdf2docx==0.5.6
reportlab==4.0.9
torch==2.1.0
torchvision==0.16.0
